<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write to udp stream-->
    <target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071" layout="${message}" KeepConnection="false" OnConnectionOverflow="Block" MaxConnections="5" />

    <target name="file" xsi:type="File"
            fileName="${basedir}/Logs/Log.log"
            layout="${longdate} ${uppercase:${level}} ${message} [${logger}] ${exception:format=toString}"
            archiveFileName="${basedir}/Logs/Log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            />

    <target name="errorsInFile" xsi:type="File"
            fileName="${basedir}/Logs/Errors.log"
            layout="${longdate} ${uppercase:${level}} ${message} [${logger}] ${exception:format=toString}"
            archiveFileName="${basedir}/Logs/Errors.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            />

    
    
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <logger name="*" minlevel="Error" writeTo="errorsInFile" />


    <logger name="*" minlevel="Trace" writeTo="udp" />
    <logger name="*" minlevel="Info" writeTo="file" />
    
  </rules>
</nlog>